
:root {
    --primary-color: #2c3e50;
    --secondary-color: #34495e;
    --accent-color: #9ACEEB;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fdfdf7;
}


header {
    border-bottom: 2px solid #8ab8c1;
}

.navbar-nav .nav-link {
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #d7e7ea !important;
}


.card {
    border: none;
    border-radius: 8px;
}

.card-title {
    color: #3f4169;
    padding-bottom: 10px;
    border-bottom: 2px solid #3f4169;
}

/* Table  */
.table th {
    background-color: #000000 !important;
    color: #ffffff;
    text-align: center !important;
    border: 1px solid #333;
}


/* Links */
a {
    color: #0066cc;
    transition: color 0.3s;
}

a:hover {
    color: #00b3ff;
}

/* Form  */
.btn-dark {
    background-color: #3f4169;
    border-color:#3f4169;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-dark:hover {
    background-color: #8385a0;
    border-color: #8385a0;
}

/* Image Map */
img[usemap] {
    max-width: 100%;
    height: auto;
}

/* Footer*/
footer a {
    color: #00b3ff;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .card-body {
        padding: 1rem;
    }
    
    .table-responsive {
        font-size: 0.875rem;
    }
}

/* Print Styles */
@media print {
    .card {
        border: 1px solid #000 !important;
        box-shadow: none !important;
    }
    
    .btn {
        display: none !important;
    }
}
